<button class="filter-toggler">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="filter">
    <div class="layout">
        <h6>Filter BY:</h6>
        <br>
        <h6>Course Duration</h6>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Less than 2 hours</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">From 2 to 10 hours</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">More than 10 hours</label>
        </div>
        <hr>
        <h6>All Categories</h6>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Development</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Finance</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">IT & Software</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Other</label>
        </div>
        <hr>
    </div>
    <div class="layout">
        <h6 class="sec-title">My Courses</h6>
        <div class="media filter-media">
            <img src="../../../../../assets/filter-media.png" class="mr-3" alt="...">
            <div class="media-body">
                <p class="mt-0">Learning how to learn</p>
            </div>
        </div>
        <div class="media filter-media">
            <img src="../../../../../assets/filter-media.png" class="mr-3" alt="...">
            <div class="media-body">
                <p class="mt-0">Learning how to learn</p>
            </div>
        </div>
    </div>
</div>