<div class="courses-list">
    <h5 class="mb-3">All Courses</h5>
    <div class="line"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="card course-card">
                <img src="../../../../../assets/filter-media.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make
                        up</p>
                    <div class="row">
                        <ul class="info-list col-4">
                            <li>Expert</li>
                            <li>Duration:2h</li>
                        </ul>
                        <ul class="info-list col-2">
                            <li>100</li>
                            <li>50$</li>
                        </ul>
                        <div class="add-cart col-6">
                            <a href="#" class="btn course-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>